* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #fef4b8;
  overflow-y: auto;
  scroll-behavior: smooth;
  background: transparent !important;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  background: transparent;
}

section {
  padding: 4em;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  background-color: transparent;
}

.nav-items a {
  text-decoration: none;
  color: #fef4b8;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  transition: opacity 0.2s;
  opacity: 0.8;
  display: flex;
  align-items: right;
  justify-content: right;
  padding: 1em;
}

.nav-items a:hover {
  opacity: 1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  height: 100vh;
  z-index: 2;
  padding: 8em;
  text-align: center;
  background-color: transparent;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hero-overlay {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 7em;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero-text {
  font-family: 'Courier New', Courier, monospace;
  color: #fef4b8;
  font-size: clamp(5em, 20vw, 15em);
  letter-spacing: 0.05em;
  padding: 0;
  margin: 0;
}

span {
  color: #fef4b8;
  font-size: clamp(0.5em, 1.5vw, 1em);
  font-family: 'Arial', Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1em;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 0;
  animation: flicker 2s infinite alternate;

}

.subtitle {
  color: #fef4b8;
  font-size: clamp(0.5em, 1.5vw, 1em);
  font-family: 'Arial', Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1em;
  text-transform: uppercase;
  margin-top: 1em;
  animation: glitch 3s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.3;
    text-shadow: #fef4b8 0px 0px 5px;
  }
  50% {
    opacity: 0.5;
    text-shadow: #fef4b8 0px 0px 5px;
  }
  100% {
    opacity: 1;
    text-shadow: #fef4b8 0px 0px 5px;
  }
}

.vertical {
  writing-mode: vertical-rl;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  opacity: 0.8;
  letter-spacing: 0.5em;
  font-size: clamp(0.5em, 0.8vw, 1em);
  text-transform: uppercase;
  animation: fade 4s ease-in;
}

.scroll-indicator {
  position: absolute;
  border-left: 1px solid #fef4b8;
  height: 10em;
  left: 5%;
  margin-left: -3px;
  bottom: 0;
  animation: draw 2s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes draw {
  0% {
    height: 0;
  }
  100% {
    height: 10em;
  }
}

.text {
  color: #fef4b8;
  font-size: clamp(0.7em, 1.5vw, 1em);
  font-family: 'Arial', Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 0.07em;
  line-height: 1.5em;
  padding: 5em;
  margin: 2em;
  text-align: left;
}
